@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Langar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme{
  --color-spare: #25324B ;
  --color-nav:#5C6578;
  --color-blue:#26A4FF;
  --color-footer:#202430;
  --color-icon: #26A4FF;
  --color-cont:#F8F8FD;
  --font-epilogue: Epilogue  ,sans-serif;
  --font-figtree : Figtree, sans-serif
}